
.about-us{
    margin-bottom:90px;
    .about-us-title{
        @include restobox-fonts($font-section, $font-size-default * 6,lighten($color-black,10), 2);
    }
    img{
        width:100%;
        height:auto;
    }
    .best-restaurant{
        @include restobox-fonts($font-section, $font-size-default * 3, $color-dark-yellow, $font-bold);
        margin-bottom:20px;
        display:block;
    }
    .discover{
        @include restobox-fonts($font-stack, $font-size-default * 4.2, $color-black, $font-bold);
        text-transform: $text-uppercase;
        width: 80%;
        margin-bottom: 30px;
        display:block;
    }
    .discover-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.6, $color-black, $font-regular);
        width: 90%;
        display:block;
    }
    #discover-margin{
        padding-top:100px;
    }
    #discover-resto-margin{
        padding-top: 100px;
    }
    .read-more{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-dark-yellow, $font-regular);
        @include transition(all .4s, ease-in);
    }
    .read-more{
        &:hover{
            color: $color-black;
            text-decoration: none;
        }
    }
    .lovely-restaurant{
        @include restobox-fonts($font-section, $font-size-default * 4.2,$color-black, 2);
        margin-top:30px;
        margin-bottom: 25px;
    }
    .lovely-restaurant-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.6, $color-black, $font-regular, 1.5);
        width:80%;
        margin-bottom:30px;
    }
    hr{
        @include hr(0, 2px, $color-dark-yellow, $color-dark-yellow,10%);
        margin: auto 0;
    }
}