
.contact-us{
    .contact-us-title{
        @include restobox-fonts($font-section, $font-size-default * 6, $color-white);
    }
    .contact-us-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-white, $font-light, 2);
        width:40%;
        margin:0 auto;
    }
    .contact{
        color: $color-yellow;
    }
}

.contact-us-forms{
    margin-top: 90px;
    margin-bottom: 140px;
    .resto-way{
        @include restobox-fonts($font-stack, $font-size-default * 3, $color-dark-yellow, $font-bold, 2);
    }
    .resto-way-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-black, $font-regular, 1.5);
        width: 60%;
    }
    .form-group{
        margin-top:20px;
        .form-control{
            padding: 20px;
            width: 80%;
            @include border-radius(0);
            border: 1px solid rgba(0,0,0,0.4);
            @include restobox-fonts($font-section, $font-size-default * 1.8, $color-black, $font-light);
        }
    }
    .btn-default{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-white, $font-bold);
        @include buttons($color-black, $padding-button);
        @include border-radius(0);
        @include transition(all .4s, ease-in);
    }
    .btn-default{
        &:hover{
            background-color: $color-dark-yellow;
        }
    }
}