
.describe-restobox{
    img{
        width:100%;
        height:auto;
    }
    .container-fluid{
        position:relative;
        width: 100%;
    }
    .col-sm-6{
        padding:0;
    }
    .entry{
        position: absolute;
        top:35%;
        left:0;
        bottom:0;
        right:0;
    }
    .entry-title{
        @include restobox-fonts($font-section, $font-size-default * 7, $color-white, 2);
        margin-bottom:40px;
    }
    .entry-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-white,$font-light, 2);
        width:80%;
        margin: 0 auto;
    }
}