
.resto-footer{
    background:$color-black;
    width: 100%;
    height: 500px;
    padding-top: 130px;
    .footer-logo{
        @include restobox-fonts($logo, $font-size-default * 4, $color-white, 1.5);
        margin-bottom:40px;
    }
    .socials{
        color: $color-yellow;
        font-size: 22px;
        display:inline-block;
        margin: 50px 14px;
    }
    .socials{
        &:hover{
            color: darken($color-yellow, 40);
        }
    }
    .nav li > a{
        margin:30px;
        @include restobox-fonts($font-stack, $font-size-default * 1.6, $color-white, $font-light);
        @include transition(all .4s, ease-in);
        margin-bottom:40px;
    }
    .nav li > a{
        &:hover{
            text-decoration: line-through;
            color: $color-dark-yellow;
            @include transition(all .4s, ease-in);
        }
    }
    hr{
        margin-top:50px;
    }
    .restobox-inc{
        @include restobox-fonts($font-stack, $font-size-default * 1.6, lighten($color-white,70), $font-light);
        margin-top:30px;
    }
}
