
.navbar{
    .navbar-brand{
        @include restobox-fonts($logo, $font-size-default * 4, $color-white, 1.5);
    }
}

.navbar{
    .navbar-nav li > a{
        @include restobox-fonts($font-stack, $font-size-default * 1.6, $color-white, $font-light, 1.5);
        margin:30px;
        position: relative;
    }
}

.navbar{
    .navbar-nav li > a{
        &:hover{
            text-decoration: line-through;
            color: $color-dark-yellow;
            @include transition(all .4s, ease-in);
        }
    }
}

.intro-banner{
    margin-bottom: 90px;
    .restobox-title{
        @include restobox-fonts($header-intro, $font-size-default * 10, $color-white);
        margin-bottom:30px;
    }
    .restobox-desc{
        @include restobox-fonts($font-stack, $font-size-default * 2, $color-white, $font-light, 2);
        width:70%;
        margin:0 auto;
    }
    .btn-default{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-black, $font-bold);
        @include buttons($color-yellow, $padding-button);
        @include border-radius(0);
        margin-top:35px;
    }
    .btn-default{
        &:hover{
            background-color: $color-black;
            color: $color-white;
            @include transition(all .4s, ease-in-out);
        }
    }
}