
.our-lovely-menu{
    margin-top: 90px;
    margin-bottom:90px;
    .lovely-menu-title{
        @include restobox-fonts($font-section, $font-size-default * 6, lighten($color-black,10),2);
        margin-bottom:23px;
    }
    .lovely-menu-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-gray, $font-regular, 1.5);
        width:40%;
        margin:0 auto;
    }
    img{
        width:100%;
        height: auto;
        max-height:100%;
    }
    #margin-menu{
        margin-top:120px;
        position: relative;
    }
    .featured-menu-title{
        @include restobox-fonts($font-stack, $font-size-default * 3, $color-black, $font-bold);
        width:100%;
        margin: 23px 0 30px 0;
    }
    .featured-menu-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-black, $font-regular, 1.5);
    }
    hr{
        @include hr(0, 2px, $color-dark-yellow, $color-dark-yellow,10%);
        margin: auto 0;
    }
    .btn-default{
        margin-top:80px;
        @include buttons($color-dark-yellow, $padding-button);
        @include border-radius(40px);
        @include restobox-fonts($font-stack, $font-size-default * 2, $color-white, $font-bold);
        @include transition(all .4s, ease-in);
    }
    .btn-default{
        &:hover{
            background-color: $color-black;
            color: $color-yellow;
        }
    }
    .menu-margin{
        margin-bottom:40px;
    }
}
