
@mixin transition($transition...){
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin border($style, $color,$radius){
    border-style: $style;
    border-color: $color;
    border-radius: $radius;
}

@mixin border-radius($radius){
    border-radius: $radius;
}

@mixin buttons($bg-color, $padding){
    background: $bg-color;
    padding: $padding;
}

@mixin restobox-fonts($font-family: false, $size: false, $color: false, $weight: false, $lh: false){
    @if $font-family {
        font-family: $font-family;
    }
    @if $size {
        font-size: $size;
    }
    @if $color{
        color: $color;
    }
    @if $weight{
        font-weight: $weight;
    }
    @if $lh{
        line-height: $lh;
    }
}

@mixin social-icons($color, $size){
    color: $color;
    font-size: $size;
}

@mixin push--auto{
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin links($text-decoration){
    text-decoration: $text-decoration;
}

@mixin hr($border, $height, $color, $bg-color,$width){
    border: $border;
    height: $height;
    color: $color;
    background-color: $bg-color;
    width: $width;
}
