
.our-gallery{
    margin-bottom:90px;
    .our-gallery-title{
        @include restobox-fonts($font-section, $font-size-default * 6, $color-white);
        margin-bottom:32px;
    }
    .gallery-color{
        color: $color-yellow;
    }
    .our-gallery-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, lighten($color-white,90),$font-light,1.5);
        width: 50%;
        margin: 0 auto;
    }
}

.gallery-links{
    margin-bottom:40px;
    .nav{
        .nav-item a{
            margin:30px;
            @include restobox-fonts($font-stack, $font-size-default * 2, $color-black, $font-bold);
            @include transition(all .4s, ease-in);
        }
        .nav-item a{
            &:hover{
                color:$color-dark-yellow;
            }
        }
    }
}

.gallery-section{
    img{
        width: 100%;
        height: auto;
    }
    .container-fluid{
        width:100%;
        position: relative;        
    }
    .col-md-3,
    .col-sm-12{
        padding:0;
    }
    .entry{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        opacity:0;
        background-color: rgba(0,0,0,0.5);
        @include transition(all .4s, ease-in);
    }
    .entry{
        &:hover{
            opacity: 1;
        }
    }
    .gallery-title{
        position: absolute;
        top: 185px;
        left:0;
        right:0;
       
        @include restobox-fonts($font-section, $font-size-default * 4.2, $color-white);
    }
}