
.services{
    margin-top: 120px;
    margin-bottom: 90px;
    img{
        width:100%;
        height: auto;
    }
    .service-title{
        @include restobox-fonts($font-section, $font-size-default * 4.2, $color-black);
        margin-bottom:40px;
    }
    .numbers{
        color: $color-dark-yellow;
    }
    .service-desc{
        @include restobox-fonts($font-stack, $font-size-default * 1.8, $color-gray, $font-light, 1.5);
        margin-top:40px;
        margin-bottom: 30px;
    }
    hr{
        @include hr(0,2px, $color-dark-yellow, $color-dark-yellow, 10%);
        margin: auto 0;
    }
}