

@import 'variables';
@import 'mixins';
@import 'header';
@import 'about-us';
@import 'describe-restobox';
@import 'lovely-menu.scss';
@import 'our-gallery';
@import 'services';
@import 'contact-us';
@import 'footer';
@import 'media-queries';

// .container{
//     max-width: 1500px !important;
//     width:100%;
// }

// body{
//     overflow-x: hidden;
// }