

$logo: 'Poiret One', cursive;

$header-intro: 'Merienda One', cursive;
$font-stack: 'Lato', sans-serif;
$font-section: 'Itim', cursive;

$font-size-default: 10px;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$color-white: #ffffff;
$color-yellow: #fff99d;
$color-dark-yellow: #a19a1b;
$color-black: #000000;
$color-gray: #818181;

$main-menu-hover: #fff99d;




$padding-button: 18px 72px;

$text-uppercase: uppercase;